In [ ]:
# Para instalar um pacote:
# pip install nome_pacote

# Para atualizar um pacote:
# pip install -U nome_pacote

# Para instalar uma versão específica de um determinado pacote:
# pip install nome_pacote==versao_desejada

# Depois de instalado ou atualizado

In [ ]:
# Instalação do pacote iPython-sql. A '!' indica que é um comando de so, não do python.

# https://pypi.org/project/ipython-sql/

# !pip install -q ipython-sql

In [ ]:
# Instalar o conector com o sgbd mysql
# !pip install mysql-connector-python

# Para evitar possíveis erros, insira no final a versão do mysql instalado em sua máquina usando esse comando:
# !pip install mysql-connector-python==8.0.26

# Fonte: https://mayararysia.medium.com/python-conex%C3%A3o-com-o-mysql-d919bb596702#:~:text=connector%20utilizando%20o%20sistema%20de,%2Dpython%3D%3D8.0.13%20.

In [ ]:
# import mysql.connector as mysql

In [ ]:
import pandas as pd
import sqlite3

### Banco Relacional, Python e SQL para Análise de Dados

Abaixo, vemos como transformar um dicionário de dados em uma dataframe passível de ser armazenada em uma tabela de um banco de dados.

In [ ]:
# Cria um dataframe

dados = pd.DataFrame({'nome': ['Márcia', 'João', 'Felipe'],
                      'idade': [32, 33, 7],
                      'ocupação': ['Software Engineer', 'PO', 'Estagiário']
                     })

In [ ]:
dados.head()

In [ ]:
# Cria conexão a um banco de dados SQLite

cnn = sqlite3.connect('database/dbprojeto1.db')

In [ ]:
# Copia os dados do dataframe para o banco de dados como uma tabela

dados.to_sql('funcionarios', cnn)

In [ ]:
# Carregando a extensão SQL

%load_ext sql

In [ ]:
# Definir o banco de dados

%sql sqlite:///database/dbprojeto1.db

In [ ]:
%%sql

SELECT * FROM funcionarios

In [ ]:
%%sql

SELECT COUNT(*) FROM funcionarios

In [ ]:
%%sql

SELECT AVG(idade) as 'média_idade' FROM funcionarios

### Trabalhando com arquivos .csv

Gere uma amostra de dados com os pacientes com mais de 50 anos e para cada um deles gere uma nova coluna se o paciente está normal (BMI menor que 30) ou se o paciente está obeso (BMI maior ou igual a 30). Em seguida gerar um novo arquivo CSV.

In [ ]:
# read_csv faz a leitura do arquivo .csv a partir do caminho informado como parâmetro.

df = pd.read_csv("C:\Marcia\CursosDSA\AnaliseDadosPython\cap02\dataset\diabetes.csv")

In [ ]:
# Verifica o tipo da variável

type(df)

In [ ]:
# Traz informações sobre o total de linhas x colunas do dataframe

df.shape

In [ ]:
df.head()

In [ ]:
# Copia o dataframe para uma tabela no banco de dados. A conexão deve ser realizada anteriormente.

df.to_sql('pacientes', cnn)

In [ ]:
%%sql

SELECT * FROM pacientes

In [ ]:
%%sql

SELECT count(*) FROM pacientes
WHERE age > 50

In [ ]:
%%sql

SELECT * FROM pacientes
WHERE age > 50

In [ ]:
%%sql

SELECT *,
CASE
    WHEN BMI < 30 THEN "Normal"
    WHEN BMI >= 30 THEN "Obeso"
END AS Perfil
FROM pacientes
WHERE age > 50

In [ ]:
%%sql

CREATE TABLE pacientesV1
AS
SELECT *,
CASE
    WHEN BMI < 30 THEN "Normal"
    WHEN BMI >= 30 THEN "Obeso"
END AS Perfil
FROM pacientes
WHERE age > 50

In [ ]:
# Armazenando a consulta em uma variável

query = cnn.execute("SELECT * FROM pacientesV1")
query # Um cursor é o resultado de uma consulta sql.

In [ ]:
# List Comprehension

col = [column[0] for column in query.description]
col

In [ ]:
# Gerando o novo dataframe
# Para que o DF possa ser gerado a partir de uma query no BD, os dados precisam de fato está armazenados fisicamente.

result = pd.DataFrame.from_records(
    data = query.fetchall(),
    columns = columns
)

In [ ]:
result.shape

In [ ]:
result.head()

In [ ]:
# Savando o resultado em um arquivo .csv

result.to_csv('dataset/pacientes.csv', index = False)

### Fim