#### Gerar uma amostra de dados com os pacientes com mais de 50 anos e para cada um deles indicar em uma nova coluna se o paciente está normal (índice de massa corpórea menor que 30) ou obeso (índice de massa corpórea maior ou igual a 30). Então devemos gerar um novo arquivo CSV e encaminhar para o CD.

In [1]:
# Verificando a versão da linguagem Python
from platform import python_version
print('Versão:', python_version())

Versão: 3.11.5

In [2]:
# Instalando o pacote ipython-sql
# Este pacote permite manipular dados via Jupyter Notebook fazendo uso da linguagem SQL.

# !pip install -q ipython-sql

In [3]:
# Imports
import pandas as pd    # Pandas é o "excel" da linguagem Python.
import sqlite3         # SQLite3 é um pacote que permite interagir com o banco de dados SQLite.

In [4]:
print(sqlite3.version)

2.6.0

In [5]:
# Criando um dataframe com Pandas
dados = pd.DataFrame({
    'nome': ['JOAO', 'MARCIA', 'FELIPE'],
    'idade': [33, 33, 8],
    'cargo': ['DEV', 'DEV', 'STUDENT']
})

In [6]:
dados.head()

     nome  idade    cargo
0    JOAO     33      DEV
1  MARCIA     33      DEV
2  FELIPE      8  STUDENT

In [7]:
# Apaga o banco de dados no SQLite
# !del 'database/dbproj01.db'    -> comando se o SO for Win
# !rm 'database/dbproj01.db'    -> comando se o SO for Mac ou Linux

In [9]:
# Abrindo conexão com o banco de dados 
conn = sqlite3.connect('dbproj01.db')

In [10]:
# Copiando um dataframe para dentro do banco de dados como uma tabela
#           (<nome_da_tabela>, <conexao_criada>) 
dados.to_sql('funcionarios', conn)

3

In [11]:
# Carregando a extensão SQL. Permite a execução de código SQL direto no banco de dados.
%load_ext sql

In [12]:
# Definindo qual banco de dados será carregado para consulta
%sql sqlite:///dbproj01.db

In [16]:
# Abaixo, execução de scripts SQL. O Jupyter não aceita comentário na célula de execução do código SQL.

In [15]:
%%sql

SELECT * FROM funcionarios

 * sqlite:///dbproj01.db
Done.

[(0, 'JOAO', 33, 'DEV'), (1, 'MARCIA', 33, 'DEV'), (2, 'FELIPE', 8, 'STUDENT')]

In [17]:
%%sql

SELECT COUNT(*) FROM funcionarios

 * sqlite:///dbproj01.db
Done.

[(3,)]

In [19]:
%%sql

SELECT AVG(idade) AS 'media_idade' FROM funcionarios

 * sqlite:///dbproj01.db
Done.

[(24.666666666666668,)]